rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAdmin() {
      return request.auth != null && 
             exists(/databases/$(database)/documents/users/$(request.auth.uid)) &&
             (get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin' ||
              get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'teacher');
    }

    match /users/{userId} {
      allow get: if request.auth != null && (request.auth.uid == userId || isAdmin());
      allow list: if true; // allow checking usernames
      allow write: if isAdmin() || (request.auth != null && request.auth.uid == userId);
    }

    match /groups/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /subjects/{document=**} {
      allow read: if request.auth != null;
      allow write: if isAdmin();
    }

    match /payments/{paymentId} {
      allow read: if request.auth != null && (isAdmin() || resource.data.studentId == request.auth.uid);
      allow write: if isAdmin();
    }

    match /attendance/{attendanceId} {
      allow read: if request.auth != null && (isAdmin() || resource.data.studentId == request.auth.uid);
      allow write: if isAdmin();
    }

    match /notifications/{id} {
      allow read: if request.auth != null;
      allow create, delete: if isAdmin();
      allow update: if request.auth != null;
    }

    match /news/{document=**} {
      allow read: if request.auth != null;
      allow write: if isAdmin();
    }

    match /exams/{document=**} {
      allow read: if request.auth != null;
      allow write: if isAdmin();
    }

    match /homeworks/{document=**} {
      allow read: if request.auth != null;
      allow write: if isAdmin();
    }

    match /submissions/{document=**} {
      allow read: if request.auth != null && (isAdmin() || resource.data.studentId == request.auth.uid);
      allow write: if request.auth != null;
    }

    match /schedules/{document=**} {
      allow read: if request.auth != null;
      allow write: if isAdmin();
    }

    
    match /tests/{document=**} {
      allow read: if request.auth != null;
      allow write: if isAdmin();
    }
    match /testCategories/{document=**} {
      allow read: if request.auth != null;
      allow write: if isAdmin();
    }

    match /exam_results/{document=**} {
      allow read: if request.auth != null && (isAdmin() || resource.data.studentId == request.auth.uid);
      allow write: if request.auth != null;
    }

    // Default deny
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
